.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

mat-card {
  width: 30%;
  margin: 5% auto;
  border-radius: 8px;
  padding: 30px;
}
mat-form-field,
mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;
}

:host ::ng-deep .mat-ink-bar {
  background-color: #cf0500 !important;
}

.login-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
}

.bg-button {
  background-color: #cf0500;
}

.mt-checkbox {
  margin-top: 12px;
}
