<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align: center">SignIn / SignUp</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" #tabGroup>
      <mat-tab label="Sign In">
        <mat-card-content>
          <form (ngSubmit)="onLogin(fl)" #fl="ngForm">
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required
                name="emailLogin"
                ngModel
                #emailLogin="ngModel"
              />
              <mat-error *ngIf="emailLogin.invalid"
                >Email is required</mat-error
              >
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                name="passwordLogin"
                ngModel
                #passwordLogin="ngModel"
              />
              <mat-error
                *ngIf="passwordLogin.errors && passwordLogin.errors?.['required']"
              >
                Password is required
              </mat-error>
              <mat-error
                *ngIf="passwordLogin.errors && passwordLogin.errors?.['pattern']"
              >
                Password must minimum eight characters, at least one uppercase
                letter, one lowercase letter, one number and one special
                character
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              class="login-button bg-button mt-4"
              [disabled]="fl.invalid"
              *ngIf="!Loading"
            >
              Sign In
            </button>
            <!-- <button
                mat-raised-button
                color="primary"
                class="login-button bg-button"
                [disabled]=true
                *ngIf="Loading">
                <mat-spinner></mat-spinner>
              </button> -->
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Sign Up">
        <mat-card-content>
          <form (ngSubmit)="onSignup(f)" #f="ngForm">
            <mat-form-field>
              <input
                matInput
                placeholder="Name"
                required
                name="name"
                ngModel
                #name="ngModel"
              />
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="name.invalid"> Name is required </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                type="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                required
                name="email"
                ngModel
                #email="ngModel"
              />
              <mat-error *ngIf="email.errors && email.errors?.['required']"
                >Email is required</mat-error
              >
              <mat-error *ngIf="email.errors && email.errors?.['pattern']"
                >Email is invalid</mat-error
              >
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                required
                name="password"
                ngModel
                #password="ngModel"
              />
              <mat-error
                *ngIf="password.errors && password.errors?.['required']"
              >
                Password is required
              </mat-error>
              <mat-error
                *ngIf="password.errors && password.errors?.['pattern']"
              >
                Password must minimum eight characters, at least one uppercase
                letter, one lowercase letter, one number and one special
                character
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Re-Password"
                type="password"
                pattern="{{ password.value }}"
                required
                name="repassword"
                ngModel
                #repassword="ngModel"
              />
              <mat-error
                *ngIf="repassword.errors && repassword.errors?.['required']"
              >
                Re-Enter Password is required
              </mat-error>
              <mat-error
                *ngIf="repassword.errors && repassword.errors?.['pattern']"
              >
                Re-Enter Password is not equal password
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button
              mat-raised-button
              type="submit"
              color="primary"
              class="login-button bg-button"
              [disabled]="f.invalid"
              *ngIf="!Loading"
            >
              Sign Up
            </button>
            <!-- <button
              mat-raised-button
              type="submit"
              color="primary"
              class="login-button bg-button"
              [disabled]="f.invalid"
              *ngIf="Loading"
              >
              <mat-spinner></mat-spinner>
            </button> -->
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
