<div class="container-fluid bg-white">
  <div class="row">
    <div
      class="d-flex flex-column flex-shrink-0 p-3 text-dark bg-white col-md-3"
      style="width: 280px; height: 100%"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
      >
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Management</span>
      </a>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a
            routerLink="./book-management"
            class="nav-link active"
            aria-current="page"
          >
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#home"></use>
            </svg>
            Book Management
          </a>
        </li>
        <li>
          <a routerLink="./category-management" class="nav-link text-dark">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#speedometer2"></use>
            </svg>
            Category Management
          </a>
        </li>
      </ul>
      <hr />
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
