<h1 class="text-white">Books management</h1>
<div class="container-fluid">
  <div class="d-flex mb-3 intro-x">
    <div class="d-flex align-items-center w-md me-5">
      <h3>Number of books: {{ total }}</h3>
    </div>

    <div class="d-flex align-items-center w-ld ms-auto">
      <form [formGroup]="searchForm">
        <div class="input-group">
          <input
            class="form-control"
            id="search"
            formControlName="search"
            placeholder="Search your book ..."
          />
        </div>
      </form>
    </div>

    <div class="d-flex align-items-center ms-3">
      <button (click)="onNewBook()" class="btn btn-dark p-2">
        Create new book
      </button>
    </div>
  </div>
</div>
<div class="mx-auto w-auto">
  <table class="table table-striped table-hover center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Category</th>
        <th scope="col">Is Delete</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let book of books
            | paginate
              : { itemsPerPage: 6, currentPage: page, totalItems: total };
          let i = index
        "
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <th scope="row"><img [src]="book.image" width="65" /></th>
        <td class="align-middle fs-6">{{ book.title }}</td>
        <td class="align-middle fs-6">
          {{ book.price.toString() | currency : "VND" : "" }} VND
        </td>
        <td class="align-middle fs-6">{{ book.quantity }}</td>
        <td class="align-middle fs-6">{{ book.category.name }}</td>
        <td class="align-middle fs-6">{{ book.isDelete }}</td>
        <td class="align-middle fs-6">
          <a
            routerLink="/books/management/book-create/{{ book.id }}/edit"
            class="text-black"
            ><i class="bi bi-pen"></i
          ></a>
          <button
            class="text-danger ms-3 btn"
            style="cursor: pointer"
            (click)="onDeleteBook(book.id.toString())"
          >
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls
    (pageChange)="pageChangeEvent($event)"
    class="page text-black"
  ></pagination-controls>
</div>
